@charset "utf-8";

.container{
  padding: 110px 0;
  @media (min-width: $sp_w){
    padding: 140px 0;
  }
}

.wrap{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: $sp_w){
    padding: 0;
  }
}

.section{
  margin: 60px 0;
}

.section_title{
  font-size: 2.0em;
  font-weight: 600;
  margin-bottom: 40px;
}

.filters{
  overflow: scroll;
  padding: 0 20px;
  .sort__list{
    display: flex;
    align-items: center;
    width: 100%;
    @media (min-width: $sp_w){
      justify-content: center;
    }
  }

  .sort__tab{
    text-align: center;
    margin: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 30px;
    &.current{
      background-color: $brand;
      @include bt_hover_current;
      a{
        color: #fff;
      }
    }
    @include bt_hover_2;
  }
  a{
    min-width: 100px;
    padding: 8px 20px;
    display: block;
    @media (min-width: $sp_w){
      padding: 10px 30px;
      font-size: 1.2em;
    }
  }
}


.select_icon{
  display: inline-block;
  width: 10px;
  height: 4px;
  vertical-align: .3em;
  margin-left: 8px;
}
